version: "3.9"

services:
  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: hr-streamlit
    restart: always
    expose:
      - "8544"

  backend:
    build:
      context: ./backend
    container_name: hr-backend
    restart: always
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    container_name: hr-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - streamlit
      - backend
